{% extends "playing_app/form.html" %}


{% block list %}


{% for responsible in responsibles %}

   
   
    <div class="list-group col-md-4">
      <div class="list-group-item active">
        <h4 class="list-group-item-heading">{{responsible}} </h4> 
      
          
          
          <form action="{% url 'delete-responsible' %}" class="list-group-item-text"  method = "POST">
              {%csrf_token%}
              <input  type = "hidden" name="id" value={{responsible.id}}>
              
              
                <button class="btn btn-default">
                <i class="glyphicon glyphicon-trash"></i>
                
                </button>
              
          </form> 
          
      
      </div>
    </div>



{%endfor%}


{% endblock %}
