<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'playing_app/style.css' %}" />
  
  
  
  
  
  
  
</head>


<body>
  

<nav class="navbar navbar-default barra">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'list' %}">List</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="{% url 'create' %}">Create</a></li>
        
      </ul>
      
      <form class="navbar-form navbar-left" action="{% url 'list' %}" method="POST">
        {% csrf_token %}
        <div class="form-group has-feedback has-feedback-left">
          <i></i>
          <input type="text" class="form-control add" placeholder="Add a new todo" name = "todo_text" >
          
        </div>
        <button type="submit" class="btn btn-default">+</button>
      </form>
      

      
      <ul class="nav navbar-nav navbar-right">
        <li class = "vertical_line"><a href="#">{{user}}</a></li>
        
        <li><a href="logout">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}








<ul>
  <table class="table table-hover">
  <thead>
  
    <th>TO DO</th>
    <th>Done</th>
    <th>Date</th>
    <th>ASIGNEE</th>
    <th>Action</th>
  </thead>
  
  {% for todo in todos %}

  <tr>
    
     
      
      
      {%if todo.todo_done%}
        <td class= "todo {{todo.id}} done"> <a href="{% url 'edit' %}?id={{todo.id}}">{{todo.todo_text}} </a></td>
        <td><form action = "." method = "POST">{% csrf_token %}<span class="glyphicon glyphicon-ok"  id = "{{todo.id}}" aria-hidden="true"></span> </form></td>
      {%else%}
        <td class= "todo {{todo.id}} "> <a href="{% url 'edit' %}?id={{todo.id}}">{{todo.todo_text}} </a></td>
        <td><span class="glyphicon glyphicon-remove" id = "{{todo.id}}" aria-hidden="true"></span>{% csrf_token %}</td>
      {%endif%}
      <td><form action = "." method = "POST" >{% csrf_token %} <div class="form-group"><input type="date" class="form-control todo_created"  id = "date+{{todo.id}}" name = "todo_created" value ="{{todo.todo_created|date:"Y-m-d"}}" ></div></form></td>
      
      <td id = "search-{{todo.id}}">
        
        
         <div class="resize-form">
        <form onsubmit="return false">
          {% csrf_token %}
          
          <input type="text" id = "asignee-{{todo.id}}" class = "form-control responsibles-search"  list= "results" name="search+{{todo.id}}"/>
          
          <datalist id= "results"></datalist>   
        </form>
        </div>
      <div class= "responsibles-space">
      {% if todo.todo_responsibles.all%}
        {%for responsible in todo.todo_responsibles.all%}
        <div class= "responsible btn btn-default">{{responsible.username}}</div>
        {%endfor%}
      </div>
      
      {%else%}
      
      None
      {%endif%}

      </td>
      <td><form action="{% url 'delete' %}" method="POST" > <input type="hidden" name="id" value={{todo.id}}> {% csrf_token %}<button class="btn btn-default" type = "submit" >Delete</button></form></td>
      
      
  
  </tr>

{% endfor %}
</table>


</ul>
{% endblock %}


<div class = "options-test"></div>




<script src="{% static 'playing_app/bower_components/jquery/dist/jquery.js' %}"> </script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'playing_app/csrf.js' %}"></script>
<script src="{% static 'playing_app/todo_template.js' %}"> </script>



</body>



</html>