

body {font-family: 'Montserrat', sans-serif;}

.barra {background-color:#380036;
        
}

.navbar-default .navbar-nav>li>a {color: white;}

.navbar-default .navbar-brand {color:white;}

th {color: #a2d3c2;
    font-size: 20px;
}

.errorlist {display:none;}

list-group-item active {vertical-align: middle}

.vertical_line {border-left: thin solid white;}