

body {font-family: 'Montserrat', sans-serif;}

.barra {background-color:#380036;
        
}

.responsible{float:left;
            margin-top:0.5%;
            margin-right:0.3%;
}

col .resize-form{width:50%;
        
}

.navbar-default .navbar-nav>li>a {color: white;}

.navbar-default .navbar-brand {color:white;}

th {color: #a2d3c2;
    font-size: 20px;
}

.errorlist {display:none;}

list-group-item active {vertical-align: middle}

.vertical_line {border-left:  solid white; }

.done{text-decoration:line-through;}

/* This centering has not been implemented*/
.absoluteCenter { width:100px;
                height:100px;
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -50px;
                margin-left: -50px;
                border:10px solid #ee3e64;}
                
.glyphicon-search {float: left;
                  margin-right:5px;
                  display:inline-block;
}

